@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,400&family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: cyan;
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.pageFood {
  background-color: #fff;
  padding: 0 150px;
}

.pageFood_header {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 999999999;
}
.pageFood_header-left {
  display: flex;
}
.pageFood_header-logo {
  width: 100px;
}

.pageFood_header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.pageFood_header-menu a {
  font-family: "Roboto", sans-serif;
  color: black;
}
.pageFood_header-menu a:hover {
  color: #dc780b;
}

.pageFood_header-button {
  cursor: pointer;
  padding: 12px 34px;
  font-size: 16px;
  color: #ffffff;
  background: #dc780b;
  border-radius: 5px;
  border: 1.5px solid #dc780b;
  font-weight: 400;
}

.pageFood_header-button:hover {
  background-color: #fff;
  color: #dc780b;
  border: 1.5px solid rgba(220, 120, 11, 0.1);
}

.pageFood_Home {
  display: flex;
  align-items: center;
  position: relative;
  height: 670px;
}

.home_left {
  position: absolute;
  width: 555px;
}
.home_left h1 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 48.83px;
  line-height: 58px;
  color: #150c01;
}
.home_left p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #150c01;
  opacity: 0.7;
}
.home_left #Oder {
  cursor: pointer;
  padding: 20px 40px;
  font-size: 16px;
  color: #fff;
  background: #dc780b;
  border-radius: 5px;
  border: 1.5px solid #dc780b;
  font-weight: 500;
  margin-right: 30px;
}
.home_left #Oder:hover {
  background-color: #fff;
  color: #dc780b;
  border: 1.5px solid rgba(220, 120, 11, 0.1);
}
.home_left #Food {
  cursor: pointer;
  padding: 20px 40px;
  font-size: 16px;
  color: #fff;
  background: #dc780b;
  border-radius: 5px;
  border: 1.5px solid #dc780b;
  font-weight: 500;
  margin-right: 30px;
}
.home_left #Food:hover {
  background-color: #fff;
  color: #dc780b;
  border: 1.5px solid rgba(220, 120, 11, 0.1);
}

.home_right {
  width: 801px;
  height: 670px;
  position: absolute;
  right: -140px;
  bottom: 70px;
}
.home_right img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pageFood_features {
  text-align: center;
}
.pageFood_features p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}
.pageFood_features h2 {
  margin-top: 7px;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
}
.pageFood_features .Box_features {
  width: 100%;
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Box_list {
  height: 100%;
  width: 26%;
  background-color: rgb(255, 255, 255);
  margin: 30px;
}
.Box_list .list_icon {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.1764705882);
}
.Box_list h2 {
  margin-top: 33px;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
}
.Box_list p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #150c01;
  opacity: 0.7;
  font-size: 11px;
}

.pageFood_Aboutus {
  margin-top: 100px;
  display: flex;
  gap: 98px;
}

.about_left {
  height: 500px;
  width: 555px;
}
.about_left img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.about_right {
  width: 40%;
  height: 50%;
  margin: auto;
}
.about_right p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}
.about_right h1 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
  margin: 10px 0 30px 0;
}
.about_right span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #150c01;
  opacity: 0.7;
  font-weight: normal;
}
.about_right .btn_aboutUs {
  cursor: pointer;
  padding: 12px 34px;
  font-size: 16px;
  color: #ffffff;
  background: #dc780b;
  border-radius: 5px;
  border: 1.5px solid #dc780b;
  margin-top: 30px;
}
.about_right .btn_aboutUs:hover {
  background-color: #fff;
  color: #dc780b;
  border: 1.5px solid rgba(220, 120, 11, 0.1);
}

.pageFood_Menu {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_Top {
  text-align: center;
}
.menu_Top p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}
.menu_Top h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
}
.menu_Top span {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #150c01;
  opacity: 0.7;
  max-width: 748px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.menu_center {
  margin-top: 60px;
  max-height: 940px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.menu_center .list_food {
  max-width: 360px;
  background-color: #fff;
  position: relative;
  border-radius: 76px 10px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
}
.menu_center .list_food-img {
  width: 360px;
  height: 264px;
}
.menu_center .list_food-img img {
  width: 100%;
  height: 100%;
  border-radius: 76px 10px 76px 0px;
}
.menu_center .list_food .food-desc {
  padding: 25px;
  padding-top: 20px;
}
.menu_center .list_food .food-desc h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
  line-height: 24px;
}
.menu_center .list_food .food-desc #Monney {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.menu_center .list_food .food-desc #Monney h2 {
  font-size: 25px;
}
.menu_center .list_food .food-desc p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #150c01;
  opacity: 0.7;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
}
.menu_center .list_food .food-desc button {
  padding: 10px 15px;
  background-color: #dc780b;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 36px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_center .list_food .food-desc button i {
  color: #fff;
}
.menu_center .list_food .food-desc .fa-star {
  color: rgba(196, 196, 196, 0.3);
}

.menu_bottom-btn {
  padding: 11px 30px;
  background-color: #dc780b;
  border-radius: 5px;
  border: 1.5px solid #dc780b;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 40px;
  cursor: pointer;
}

.menu_bottom-btn:hover {
  background-color: #fff;
  color: #dc780b;
  border: 1.5px solid rgba(220, 120, 11, 0.1);
}

.best {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best .checked {
  color: orange;
}

body {
  scroll-behavior: smooth;
}

.pageFood_take {
  height: 450px;
  background: rgba(251, 241, 231, 0.4);
  position: relative;
  margin: 100px -150px 100rem -150px;
  border-radius: 10px;
}

.Take-content {
  position: absolute;
  width: 40%;
  height: 300px;
  top: 70px;
  left: 100px;
  margin-left: 97px;
}
.Take-content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}
.Take-content h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
  line-height: 40px;
}
.Take-content span {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #150c01;
  opacity: 0.7;
  margin: 29px 0 39px 0;
  display: inline-block;
}
.Take-content .App_take {
  display: flex;
  gap: 39px;
}
.Take-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 30px;
}
.Take-content button img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

#appple {
  background-color: black;
  color: #fff;
  border-radius: 5px;
}

#play {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1.5px solid rgba(21, 12, 1, 0.1);
}

.Take-image {
  position: absolute;
  right: 100px;
  bottom: -50px;
  margin-right: 97px;
}
.Take-image img {
  width: 85%;
}

img #bobo {
  width: 50%;
}

.Testimonial {
  margin-top: 100px;
  text-align: center;
}
.Testimonial p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  letter-spacing: 0.1em;
}
.Testimonial h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
}
.Testimonial span {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #150c01;
  opacity: 0.7;
}

.pageFood_slider {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  background-color: #dc780b;
}

.pageFood_Contact {
  width: 100%;
  text-align: center;
  background-color: #fbf1e7;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.pageFood_Contact p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}
.pageFood_Contact h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
}
.pageFood_Contact #ipnutTut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.pageFood_Contact input {
  width: 90%;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.pageFood_Contact button {
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 16px;
  color: #fff;
  background: #dc780b;
  border-radius: 5px;
  border: 1.5px solid #dc780b;
  font-weight: 500;
  margin-right: 30px;
  padding: 20px 30px;
}

.pageFood_footer {
  height: 400px;
  width: 100%;
  background-color: black;
  display: flex;
}
.pageFood_footer .list_link {
  margin-left: 70px;
  padding-top: 60px;
  height: 68%;
  width: 20%;
}
.pageFood_footer img {
  margin-top: 50px;
  width: 80px;
}
.pageFood_footer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #150c01;
  opacity: 0.7;
  color: wheat;
}
.pageFood_footer h2 {
  cursor: pointer;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 34px;
  color: #150c01;
  margin-left: 30px;
  color: #eae1eb;
}
.pageFood_footer ul li {
  cursor: pointer;
  color: #c4c7ba;
  line-height: 40px;
}
.pageFood_footer #icon {
  display: flex;
  gap: 5px;
  width: 60%;
}
.pageFood_footer #icon img {
  width: 50%;
}

@media screen and (max-width: 414px) {
  .pageFood_header-menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */